body{

    font-family: "Marmelad", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
}
/*goole font implimentation*/


#wrapper {

    margin-top: 10px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

header h1 {

    text-align: right;
    font-size: 25px;
    margin-bottom: 5px;
    color: brown;
}

header h2 {

    margin-top: 0px;
    margin-bottom: 30px;
    text-align: right;
    font-size: 28px;
    color: darkgrey;
}

header h3 {

    margin-top: 0px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 20px;
    color: darkgrey;
}

header img {
    margin-top: 50px;
    width: 100%;
}

nav {
    margin-top: 50px;
    margin-left: 50px;
    line-height: 30px;
    display: grid;
    grid-template-columns: 60% 1fr;
}

.menu1 {
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-around;
    align-items: center;
}

/* .menu1 {
    display: block;
    justify-content: space-around;
} */

.hamburger-menu {
display: none;
/* shown only on mobile */
align-items: center;
justify-content: center;
}

.hamburger-menu button {
background: none;
border: none;
font-size: 2em;
color: gray;
}

.hamburger-menu button .fa-bars {
    cursor: pointer;
}

.close-menu {
    display: none;
}


.logo{
    text-align: left;
    size: 100%;
}

nav a {

    text-decoration: none;
    color: black;
    font-weight: bold;   
}

nav a:hover {
    color: darkgrey;
}

section {
    margin-bottom: 30px;
    text-align: justify;
}

article p:last-child {
    margin-bottom: 80px;
}

article h3 {
    margin-bottom: 10px;
    color: darkgrey;
}

footer {
    margin-top: 20px;
    min-height: 30px;
    font-size: 10px;
    font-weight: lighter;
    text-align: right;
    font-style: italic;
}

.books {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 16px;
    max-width: 100%;   
}

/* Hover style */

.books figure {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.books img {
    width: 100%;
    transition: transform 0.3 ease, opacity 0.3 ease;
}

.hover-text {
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 10px;
    background-color: black;
    padding: 8px;
    border-radius: 10px;
    color: white;
    transition: opacity 0,3 ease;
}

.books figure:hover .hover-text {
    display: block;
    opacity: 1;
}

.books figure:hover img {
    transform: scale(1.05);
    opacity: 0.9;
}

.im:hover {
    filter: blur(2px);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out
}

.im {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    box-sizing: border-box;
    display: block;
}

/* Defensive rules: ensure all images in the gallery scale responsively
   even if a figure or image is missing a specific class. */
.books img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}

.im1{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.im2{
    grid-column: 4/7;
    grid-row: 1/3;
}

.im3{
    grid-column: 7/13;
    grid-row: 1/6;
}

.im4{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 3/6;
}

.im5{
    grid-column: 4/7;
    grid-row: 3/5;
}

.im6{
    grid-column: 1/7;
    grid-row: 3/9;
}

.im7{
    grid-column: 7/10;
    grid-row: 5/7;
}

.im8{
    grid-column: 10/13;
    grid-row: 5/7;
}

.im9{
    grid-column: 7/10;
    grid-row: 7/9;
}

.im10{
    grid-column: 10/13;
    grid-row: 7/9;
}

.im11,
.im12{
    grid-column: 4/7;
    grid-row: 9/11;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    color: gray;
}

.social .fa {
    font-size: 3em;
    padding: 12px;
    color: gray;

}

/* .books img {
    display: block;
    width: 100%;
    height: auto;
} */

.books > div {
    text-align: center;
    padding: 10px;
}

.books figure {
    margin: 0;
}

/* article figure figcaption {
    margin-top: 5px;
    font-size: 12px;
} */


@media (max-width:480px) {

    .hamburger-menu {
        display: flex;
        align-items: center;

    }

    .menu1 {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .menu1 a {
        padding: 20px;
    }

    .menu1 a:hover {
        text-decoration: none;
        color: gray;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2cm;
        color: grey;
    }

    .menu-deployed {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        z-index: 1000;
    }

    button {
        border-width: 0px;
        background-color: rgb(255, 255, 255);
    }

    nav{
        margin: 0 auto;
        margin-bottom: 50px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 0;
        line-height: 30px;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 4px solid #000;
        background: #000;
        z-index: 1000;
        color: rgb(98, 98, 98);
    }
    nav a {
        color: rgb(121, 121, 121);
    }
    h1 {
        margin-top: 50px;
    }
    #wrapper {
        margin-top: 50px;
        position: relative;
        width: 90%;
        margin: 0 auto;
        float: none;
    }

    footer {
        margin-top: 40px;
        font-size: 12px;
    }

.books{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    padding: 10px;
    grid-auto-flow: row dense;
}

.books [class^=im]{
    grid-column: auto !important ;
    grid-row: auto !important;
    width: 100%;
    height: auto;
    object-fit: cover;

}

.left_stories {
    grid-column: 1/3;
    margin: 0;

}


    .books {
        grid-template-columns: auto auto;
        gap: 15px;
    }

}